<div id="<%= dom_id friend %>">
  <p>
    <strong>Họ và tên:</strong>
    <%= friend.Ho_va_ten %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.Email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.Phone %>
  </p>

  <p>
    <strong>Sinh nhật:</strong>
    <%= friend.Sinh_nhat %>
  </p>

</div>
